<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homework</title>
</head>
<body>
  <h1>Homework</h1>
  <h2>Task 1. Websites</h2>

  <h3 style=color:#FF0000;>List of unusual search engines of books and science from which content not indexed by google</h3>

  <p><a href="https://refseek.com">refseek.com</a></p>
  <p><a href="https://worldcat.org">worldcat.org</a></p>
  <p><a href="https://link.springer.com">link.springer.com</a></p>
  <p><a href="https://bioline.org.br">bioline.org.br</a></p>
  <p><a href="https://science.gov">science.gov</a></p>
  <p><a href="https://pdfdrive.com">pdfdrive.com</a></p>
  <p><a href="https://www.base-search.net/">base-search.net</a></p>

  <br>

  <h2>Task 2. Ordered list from poem</h2>


  <h3 style=color:#0345fc;>The House that Jack Built lyrics</h3>

  <p>1. This is the house that Jack built.</p>
  <p>2. This is the malt</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;That lay in the house that Jack built.</p>
  <br>
  <p>3. This is the cat,</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;That killed the rat,</p>
  <p>4. That ate the malt</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;That lay in the house that Jack built.</p>



</body>
</html>
