<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SDA school system</title>
</head>
<body>
<div id="main-page">
    <div id="menu">
        <a href="contact.html">Contact us</a>
    </div>


  <a href="contact.html">Contact us</a>
  <h1> Hello user!</h1>
  <p>Welcome to SDA system!<br/>Here you can do your webpage</p>
  <p>Today is fine day</></p>

  <img src="../assets/images/java.jpg" alt="Java Code Picture" height="450" width="800"/>

  <br>
  <a href="https://facebook.com" target="_blank">Facebook</a>
  </br>

  <br>
  <img src="../assets/images/java12.jpg" alt="Java Code Picture" height="250" width="500"/>
  </br>

  <br>
  <a href="https://neti.ee" target="_blank">Neti.ee searching system</a>
  </br>



  <a href="https://facebook.com" target="_blank">
    <img src="../assets/images/java12.jpg" alt="Java Code Picture" height="250" width="500"/>










</body>
</html>
