<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Youngest person to complete solo round-the-world flight</title>
</head>
<body>

  <h1>British teenager becomes youngest person to complete solo round-the-world flight</h1>
  <p>A teenage pilot is set to become the youngest person to fly around the world solo in a small aircraft,</br>
    after landing in Bulgaria, where his journey began five months ago.</p>
  <p>Mack Rutherford, a Belgian-British dual national aged 17, touched down at an airstrip west of Bulgaria’s capital,</br>
    Sofia, to complete his trip and to claim two Guinness World Records.</p>
  <p style="color:#FF0000";>Once his achievement is certified, he will become</br>
    the youngest person to fly around the world by himself, as well as the youngest person to circumnavigate the globe in a microlight plane.</p>



</body>
</html>
