<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Subscription Form exercise</title>
</head>

<style>
  table, th, td {
    border:1px solid black;
  }
</style>

<body>
    <h1>Subscription Form</h1>
    <p>
      <h3><em>I would like to subscribe to</em></h3>
    </p>

    <table style="width:50%">
      <tr>
        <th>Publication</th>
        <th>Term</th>
        <th>Price</th>
        <th>Start Date</th>
        <th>Remark</th>
      </tr>
      <tr>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
      </tr>
      <tr>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
      </tr>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>

    </table>

    <br/><br/>
    <input type="radio" id="Mr" name="titles"/> Mr
    <input type="radio" id="Mrs" name="titles" checked/> Mrs
    <input type="radio" id="Miss" name="titles" checked/> Miss
    <br/><br/>

    <p>Name:...............................................................................Last name:...............................................................................</p>
    <br/><br/>
    <p>Deliver adress</p>?


</body>
</html>
