<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SDA System-User registration</title>
</head>
<body>
<div id="register">
    <h3>Signup</h3>
    <p>Enter details below</p>
    <form id="signup">
          <label for="first-name">First name:</label>
          <input name="first-name" id="first-name" type="text" />

          <label for="last-name">Last name:</label>
          <input name="last-name" id="last-name" type="text" />
          <br><br/>
            <label for="email">Email:</label>
            <input name="email" id="email" type="email" />
          <br><br/>
          <label for="password">Password:</label>
          <input name="password" id="password" type="password" />

          <input type="radio" id="male" name="gender" />
          <input type="radio" id="female" name="gender" />

          <input type="checkbox" id="mathematics" name="favourite-subjects" /> Mathematics
          <input type="checkbox" id="science" name="favourite-subjects" /> Science
          <input type="checkbox" id="software" name="favourite-subjects" /> Software
          <br><br/>
          <label for="join-date">
            Join date:
          </label>
          <input type="date" id="join-date" name="join-date" />
          <br><br/>
          <label for="age">Age:</label>
          <input type="number" id="age" name="age" />


    </form>
</div>

</body>
</html>
